* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  /* blog posts */
  .w3l-blogposts{
    background-color: #f7f7f7;
    
  }
.title-paci{
    font-family: 'Pacifico', cursive;
    color: #ff6600;
    font-size: 15px;
}
.title-w3l{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;

}
.row{
    display: flex;
    margin: 0 -15;
}
.radius-image{
  border-radius: 6px;
  display: block;
}
.w3l-blogposts .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}
.w3l-blogposts a.receipe {
  background: #ff6600;
  color: #ffffff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: .05em;
} 
.w3l-blogposts .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.w3l-blogposts .time-cook {
  opacity: 1;
  color: #ffffff;
  margin-left: 10px;
  font-size: 12px;
}
.w3l-blogposts a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
  transform: none;
  transition: none;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
  font-family: 'Quicksand', sans-serif;
}
.w3l-blogposts .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.w3l-blogposts .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}
.w3l-blogposts .p-meta-info a {
  font-weight: 700;
  color: #232121;
  
}
.w3l-blogposts a.post-img-readmore {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.w3l-blogposts .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.w3l-blogposts a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  color: #232121;
  opacity: .9;
}
a.read:hover {
  color: #ff6600;
  text-decoration: none;
  background-color: transparent;
}
@media (max-width: 991px) {
  .w3l-single-banner {
    margin-top: 75px;
  }
  .w3l-blogposts a.blog-desc {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  .w3l-single-banner h1.title {
    font-size: 35px;
  }
}

@media (max-width: 736px) {
  .cooked-recipe-info {
    grid-auto-flow: row;
  }

  .w3l-single-banner h1.title {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .cook-grid-inner-info h4 {
    font-size: 16px;
  }

  .blo-singl {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .media {
    grid-auto-flow: row;
  }

  .even-grid {
    margin-left: 30px;
  }

  .media-body.comments-grid-right:before {
    transform: translateX(-50%) rotateZ(45deg);
    top: -11px;
    left: 9%;
  }
}

@media (max-width: 415px) {
  .cook-grid-right {
    grid-template-columns: 1fr 1fr;
  }

  .media a.com {
    width: 70px;
    height: 70px;
  }

  .w3l-single-banner h1.title {
    font-size: 25px;
    line-height: 1.4;
  }

  a.posts-view label {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .sidebar-widget {
    margin-bottom: 20px;
  }
}

@media (max-width: 384px) {

  ul.page-pagination li a.page-numbers,
  ul.page-pagination li a.next,
  ul.page-pagination li span.current {
    padding: 7px 15px;
  }

  .sidebar-widget .text a {
    font-size: 18px;
  }

  .sidebar-widget {
    padding: 35px 20px;
  }
}
/* end blog posts */
/* start testimonials */

/* .w3l-agency-test .testimonial-content {
  max-width: 700px;
  margin: auto;
}
.w3l-testimonials a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.w3l-testimonials .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.img-responsive {
    max-width: 100%;
    display: block;
}
.w3l-testimonials img {
  vertical-align: middle;
  border-style: none;
}
.w3l-testimonials blockquote q::before {
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}
.w3l-testimonials blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: #232121;
  font-weight: 600;
}
blockquote q {
  color: #232121;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 1px;
}
.w3l-testimonials p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}
@media (max-width: 675px) {
  .w3l-testimonials blockquote q {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 475px) {
  .w3l-testimonials blockquote q {
    font-size: 20px;
    line-height: 30px;
  }
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  transition: opacity .2s ease;
  border-radius: 30px;
  position: relative;
}
.slick-dots{
  position: relative;
}
.slick-dots li button:before{
  color:#d8d8d8;
  opacity: 0.75;
  font-size: 14px;  
}
.slick-dots li.slick-active button:before{
  color: red;
  opacity: 0.8;
}
@media all and (max-width: 640px) {
  .owl-dots {
    margin-top: 30px;
  }

  button.owl-next,
  button.owl-prev {
    position: absolute;
    bottom: 38%;
  }
} */
.w3l-agency-test .testimonial-content {
  max-width: 700px;
  margin: auto;
}

.w3l-clients .testi-des {
  display: flex;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.w3l-clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}

.w3l-clients a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.w3l-clients blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}

.w3l-clients.w3l-test blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: inline-block;
  font-family: initial;
  margin-right: 10px;
}

.w3l-clients .test-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.w3l-clients .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.w3l-clients .testimonial .peopl {
  margin: 0;
  text-align: left;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  align-items: center;
}

.w3l-clients .testimonial .peopl h3,
.w3l-clients .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.w3l-clients p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}

@media (max-width: 675px) {
  .w3l-clients blockquote q {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 475px) {
  .w3l-clients blockquote q {
    font-size: 20px;
    line-height: 30px;
  }
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.owl-height {
  transition: height .5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

@media (max-width: 568px) {

  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: none;
  }
}

/**
  * Owl Carousel v2.3.4
  * Copyright 2013-2018 David Deutsch
  * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
  */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  display: block;
}

.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  background: none;
}

.owl-blog .owl-dots {
  display: none;
}

.owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 18px;
  margin: 0px;
  width: 50px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 0px;
  text-align: center;
}

.w3l-portflioblock .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 0px;
  text-align: center;
}

.w3l-blog-slider .owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
  position: relative;
}

button.owl-next,
button.owl-prev {
  position: absolute;
  bottom: 50%;
}

button.owl-prev {
  left: 10px;
}

button.owl-next {
  right: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}

@media all and (max-width: 640px) {
  .owl-dots {
    margin-top: 30px;
  }

  button.owl-next,
  button.owl-prev {
    position: absolute;
    bottom: 38%;
  }
}
/* end testimonials */
/* start footer  */
.w3l-footer-29-main {
  background: #000000;
}
.w3l-footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}
.main-social-footer-29 a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: white;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}
.w3l-footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.w3l-footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.w3l-footer-29-main .footer-list-29 ul li{
  list-style: none;
  margin-bottom: 10px;
}
.w3l-footer-29-main .footer-list-29 ul li a{
  color: #a5a2a1;
}
.w3l-footer-29-main .footer-list-29 a:hover{
  list-style: none;
}

.w3l-footer-29-main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: white;
  border-radius: 6px;
}

.btn-style{
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}
button, .btn {
  cursor: pointer !important;
}
.btn{
  background-color: #ff6600;
}
.btn-secondary {
  color: #fff;
  background-color: #ff6600;
  border: 2px solid  #ff6600;
  cursor: pointer;
}
.btn-secondary:hover{
  background-color: orangered;
  transition: 0.5s;
 
}
button, select {
  text-transform: none;
}
/* end footer */
/* start copyright */

.w3l-copyright {
  padding: 1.2em 0;
  background: black;
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}
.w3l-copyright .copy-footer-29 a {
  color: var(--primary-color);
}
.w3l-copyright .footer-list-29 li{
  list-style-type: none;
}
.w3l-copyright .footer-list-29 a {
    font-size: 17px;
    line-height: 26px;
    color: #a5a2a1;
}
.w3l-copyright .copy-footer-29 a {
  color: #ff6600;
}
.w3l-copyright a:hover {
  color: #ff6600;
  text-decoration: none;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-copyright .footer-list-29 ul li a:hover,
.w3l-footer-29-main a:hover {
  color: #ff6600;
}

@media (max-width: 992px) {
  .w3l-copyright .copy-footer-29 {
    text-align: center;
  }

  .w3l-footer-29-main .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }

  .w3l-footer-29-main ul.list-btm-29 {
    text-align: center;
    margin-top: 10px;
  }

  .w3l-footer-29-main h6.footer-title-29 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .w3l-copyright .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }
  
}

@media (max-width: 415px) {

  .w3l-footer-29-main .footer-list-29 ul li,
  .w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
    margin-bottom: 8px;
  }

  .w3l-footer-29-main a.navbar-brand {
    font-size: 26px;
  }
}
/* end copyright */