* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
}

.introduction {
    background-color: #ff6600;
}

.introduction__avatar {
    background: url(../images/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    position: relative;
}

.introduction__avatar::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(16 15 19 / 46%);
}

.introduction__content {
    padding: 0px 24px;
}

.introduction__title {
    padding: 48px;
}

.introduction__container h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Pacifico', cursive;
}

.introduction__container h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #232121;
    font-family: 'Quicksand', sans-serif;
}

.introduction__container p {
    color: #ffdfc9;
    font-size: 18px;
    margin-top: 16px;
    line-height: 28px;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

.introduction__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 48px;
}

.introduction__item .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    transition: 0.3s;
    background-color: #fff;
    font-size: 24px;
    border-radius: 6px;
    color: #ff6600;
    margin-bottom: 24px;
}

.introduction__item a {
    font-size: 20px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #232121;
    font-weight: 700;
    line-height: 1.2;
}

.introduction__item p {
    margin-top: 8px;
    line-height: 28px;
    font-size: 18px;
    color: #ffdfc9;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
}

.introduction__item:hover i {
    color: #ffc600;
}


/* categories */

/* .categories {
    background-color: #f7f7f7;
    padding: 48px 0;
}

.categories__container {
    padding: 48px 15px;
}

.categories__title {
    text-align: center;
}

.categories__title h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.categories__title h2 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    color: #232121;
    margin-bottom: 48px;
    font-family: 'Quicksand', sans-serif;
    ;
}

.categories__item {
    position: relative;
}

.categories__img {
    position: relative;
}

.categories__img::before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    content: " ";
    position: absolute;
    transition: 0.3s;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
}

.categories__img img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
}

.categories__text {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: translate3d(0, 10%, 0);
    padding: 48px;
    width: 95%;
}

.categories__text a {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    margin-top: 24px;
    margin-bottom: 0;
    display: block;
    letter-spacing: 1px;
}

.categories__text p {
    font-weight: 500;
    color: #ffc600;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 8px;
    margin-bottom: 0;
} */


/* menu */

.menu {
    padding: 48px 0;
}

.menu__item {
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    background-color: #fff;
    transition: 0.3s;
}

.menu__item:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.menu__item:hover .menu__icon {
    background-color: #ff6600;
    color: #fff;
}

.menu__item:hover .menu__info a {
    color: #ff6600;
}

.menu__title {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

.menu__title .menu__icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: rgba(130, 115, 252, 0.05);
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff6600;
    font-size: 25px;
    transition: 0.3s;
}

.menu__title .menu__info {}

.menu__title .menu__info p {
    font-size: 18px;
    line-height: 28px;
    color: #161c2db3;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.8;
    font-family: 'Quicksand', sans-serif;
}

.menu__title .menu__info a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: #232121;
    text-decoration: none;
}

.menu__decs p {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 0;
    color: #161c2db3;
    line-height: 28px;
    font-family: 'Quicksand', sans-serif;
}


/* middle */

.middle {
    background: url(/assets/images/banner2.jpg) center / cover, no-repeat;
    padding: 48px 0;
    position: relative;
    z-index: 2;
}

.middle::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(16 15 19 / 66%);
    z-index: -1;
}

.middle__content {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 48px 0;
}

.middle__title {}

.middle__title h3 {
    font-size: 45px;
    color: #fff;
    margin: 0 48px;
    line-height: 55px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.middle__btn {
    padding-bottom: 48px;
}

.btn+.btn {
    margin-left: 24px;
}

.btn__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s;
    border-radius: 6px;
    border: 2px solid transparent;
    margin-top: 48px;
}

.btn__link i {
    margin-left: 8px;
}

.btn__white {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.3s;
}

.btn__white:hover {
    background-color: #fff;
    color: #ff6600;
}

.btn__main-color {
    color: #fff;
    background-color: #ff6600;
}

.btn__main-color:hover {
    color: #fff;
    background-color: #ff6600;
    border: 2px solid #ff6600;
    opacity: 0.8;
}


/* number */

.number {
    position: relative;
    top: -70px;
    z-index: 3;
}

.number__list {}

.number__item {
    background-color: #fff;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0;
    text-align: center;
}

.number__item {
    padding: 40px 20px;
    border-radius: 6px;
    height: 100%;
    transition: 0.3s;
    transform: translateY(0);
}

.number__item:hover {
    transform: translateY(-4px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10p
}

.number__item span i {
    background-color: #ff6600;
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: #fff;
}

.number__item p {
    font-size: 41.6px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 0;
}

.number__item h5 {
    font-size: 17.6px;
    font-weight: 600;
    /* margin-bottom: 0; */
    margin-top: 20px;
    color: #161c2db3;
}


/* video */

/* .video {
    padding: 48px 0;
} */

.video__infor {
    background: url(/assets/images/banner3.jpg) center / cover, no-repeat;
    min-height: 500px;
    display: grid;
    align-items: center;
    position: relative;
    border-radius: 6px;
    z-index: 1;
}

.video__infor::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    background: rgb(16 15 19 / 60%);
    z-index: -1;
}

.video__infor a {
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    right: 0;
    content: "";
    text-decoration: none;
    text-align: center;
}

.video__infor a span {
    color: #ff6600;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: transparent;
    font-size: 26px;
    transition: 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    animation: Animations 1s linear infinite;
}

@keyframes Animations {
    0% {
        box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 2);
    }
    100% {
        box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0);
    }
}

.video__infor a span:hover {
    background-color: #ff6600;
    color: #fff;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}


/* Styles for dialog window */

#small-dialog,
#small-dialog1 {
    background: transparent;
    text-align: left;
    width: 750px;
    max-width: 100%;
    margin: 40px auto;
    position: relative;
    text-align: center;
}

#small-dialog-it,
#small-dialog-in,
#small-dialog-fr,
#small-dialog-sh,
#small-dialog-sf,
#small-dialog-su,
#small-dialog-me,
#small-dialog-ch,
#small-dialog-pi,
#small-dialog-am {
    background: #fff;
    padding: 0px;
    text-align: left;
    max-width: 450px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}

a.play-icon.popup-with-zoom-anim img:hover {
    opacity: 0.5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.portfolio-items {
    text-align: center;
    margin: 0 auto;
}

.portfolio-items img {
    width: 100%;
}

.portfolio-items h4 {
    margin: 1em 0;
    font-size: 25px;
    color: #a63d56;
}

.portfolio-items p {
    text-align: justify;
}


/**

/**
 * Fade-zoom animation for first dialog
 */


/* start state */

.my-mfp-zoom-in #small-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}


/* animate in */

.my-mfp-zoom-in.mfp-ready #small-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* animate out */

.my-mfp-zoom-in.mfp-removing #small-dialog {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
}


/* Dark overlay, start state */

.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}


/* animate in */

.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}


/* animate out */

.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}


/**
/* Magnific Popup CSS */

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-content iframe {
    width: 100%;
    min-height: 370px;
    border: none;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: #fff;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    background: #fff;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 23px;
    height: 30px;
    line-height: 25px;
    position: absolute;
    left: -30px;
    top: -30px;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: white !important;
    font-style: normal;
    font-size: 45px;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
}

.mfp-close-btn-in .mfp-close {
    color: #333333;
    background: none;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.login h3,
.signup h3 {
    margin: 1em 0;
    color: #a63d56;
}

.login input[type="text"],
.login input[type="password"] {
    width: 90%;
    padding: 5px;
    margin: 3px 0;
    border: 1px solid #a63d56;
    outline: none !important;
}

.signup input[type="text"] {
    width: 44.5%;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    background: #ebebeb;
    border: solid 1px #222;
}

.signup input.email[type="text"],
.signup input[type="password"] {
    width: 90%;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    background: #ebebeb;
    border: solid 1px #222;
}

.login input[type="submit"],
.signup input[type="submit"] {
    background: #347083;
    border: 0px;
    padding: 5px 10px;
    margin: 10px 10px;
    outline: none;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 17%;
    -webkit-appearance: none;
}

.login input[type="submit"]:hover,
.signup input[type="submit"]:hover {
    background: #163035;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}