@media screen and (max-width: 1198.98px) {}

@media screen and (max-width: 991.98px) {
    .introduction__avatar {
        min-height: 200px;
    }
    .introduction__content {
        padding: 24px 0px;
    }
}

@media screen and (max-width: 767.98px) {}

@media screen and (max-width: 575.98px) {
    .introduction__content {
        padding: 24px 0;
    }
    .introduction__container h4 {
        font-size: 16px;
    }
    .introduction__container h2 {
        font-size: 26px;
    }
    .introduction__container p {
        font-size: 16px;
    }
    .introduction__item a {
        font-size: 18px;
    }
    .introduction__item p {
        font-size: 16px;
    }
    .introduction__title {
        padding: 0px;
    }
    .categories__text {
        padding: 24px;
    }
    .categories__text a {
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        margin-top: 24px;
        margin-bottom: 0;
        display: inline-block;
    }
    .categories__text p {
        font-weight: 500;
        color: #ffc600;
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 8px;
        margin-bottom: 0;
    }
    .menu__title .menu__info p {
        font-size: 16px;
    }
    .menu__title .menu__info a {
        font-size: 20px;
    }
    .menu__decs p {
        font-size: 16px;
        opacity: 0.8;
    }
    .btn__link {
        padding: 10px 21px;
        border-radius: 2px;
    }
    .middle__title h3 {
        font-size: 26px;
    }
    .number {
        top: 0;
        padding: 24px 0;
    }
}