/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  margin: 0;
  padding: 0;
  /* ẩn xuất hiện thanh scroll ngang */
  overflow-x:hidden;
  background: var(--bg-color);
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}
input, button, select, textarea, optgroup {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input, select, label, li, span {
  -webkit-appearance: none;
  outline: none;
  font-family: "Quicksand", sans-serif;
}

body a, button, .btn {
  cursor:  pointer !important;
}

.clear {
  clear: both;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.d-grid {
  display: grid;
}

.align-self {
  align-self: center;
}

:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, .05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}

[data-theme="dark"] {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-light: #282828;
  --bg-grey: #282828;
  --card-bg: #888c96;
  --footer-bg: #000;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}


/* Start w3lhny-banner */
.w3lhny-banner {
    background-size: cover;
    background-image: linear-gradient(to right, rgb(255, 102, 0), rgba(5, 3, 0, 0.2)), url(../images/banner1.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: initial;
    background-attachment: fixed;
    min-height: 700px;
}

/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.w3_hny_header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
  align-items: center;
}

.w3_hnyits_logo h1 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 a.logo-brand {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.w3_hnyits_logo a {
  text-decoration: none;
  background-color: transparent;
}

.w3menu-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.w3menu-right-content .search-bar {
  display: flex;
  flex: 1;
  margin: 0 auto;
}

.position-relative {
  position: relative !important;
}

.w3menu-right-content .search-bar .search .search__input {
  display: flex;
  flex: 1;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color:var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: var(--border-radius);
  position: relative;
  right: 0;
  background: var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
}

input {
  overflow: visible;
  margin: 0;
  line-height: inherit;
}

.w3menu-right-content .search-bar .search .search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
}

@media (max-width:600px) {
  .w3menu-right-content .search-bar {
    display: none;
  }
}

.fa-search:before {
  content: "";
}

.mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}

.mode-container i.gg-sun {
  display: none;
  color: #eee;
}

.gg-sun, .gg-sun:after, .gg-sun:before {
  box-sizing: border-box;
  display: block;
  width: 24px;
}

.gg-sun {
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.gg-sun:after,
.gg-sun:before {
  content: "";
  position: absolute;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun:before {
  transform: rotate(-45deg);
}

.gg-sun:after {
  transform: rotate(45deg);
}

.mode-container i.gg-sun {
  display: none;
  color: #eee;
}

.mode-container i.gg-moon {
  display: block;
  color: #eee;
}

input:checked+.mode-container i.gg-sun {
  display: block;
}

input:checked+.mode-container i.gg-moon {
  display: none;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button {
  border-radius: 0;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "";
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "";
}

.overlay .overlay-scale nav, ul, li {
  list-style-type: none;
}

.w3lhny-banner .bannerhny-info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.w3lhny-banner .bannerhny-info h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.w3lhny-banner .bannerhny-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

@media (max-width:1190px) {
  .w3lhny-banner .bannerhny-info h3 {
      font-size:48px;
      line-height:58px;
  }
}
@media (max-width:992px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 44px;
    line-height: 53px;
  }
}
@media (max-width:800px) {
  .w3lhny-banner .bannerhny-info h3 {
      font-size: 40px;
      line-height: 50px;
  }
  .w3lhny-banner {
      min-height: 600px;
      margin-top:60px;
  }
}
@media (max-width:480px) {
  .w3lhny-banner .bannerhny-info h3 {
    font-size: 28px;
    line-height: 38px;
  }
  .w3lhny-banner .bannerhny-info {
      max-width: 500px;
      margin-top: 30px;
  }
  .w3lhny-banner {
      min-height:450px;
  }
}

@media (min-width: 768px){
  .mt-md-4, .my-md-4{
    margin-top: 1.5rem !important;
  }
}

@media (min-width: 992px){
  .pr-lg-5, .px-lg-5 {
    padding-right: 3rem !important;
  }
}


.btn-style, .btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
}

.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: var(--primary-color)
}

.transparent-btn {
  background: rgba(255, 255, 255, 0.25);
}

.grids-gap {
  padding-top: 20px;
}

.fa-chevron-right:before {
  content: "";
}
/* End w3lhny-banner */

/* Start content1 */
.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}

.title-subhny.two {
  color: #fff;
}

.title-subhny span {
  color: var(--heading-color);
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1080px) {
  .title-w3l,.title-w3l.two {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media (max-width: 736px) {
  .title-left {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width:600px) {
  .title-w3l,.title-w3l.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  p {
    font-size: 16px;
    line-height:26px;
  }
  .title-subhny {
    font-size: 16px;
  }
}

@media (max-width:480px) {
  .title-w3l,.title-w3l.two {
    font-size: 26px !important;
    line-height: 36px;
  }

  .btn-white,
  .btn-style {
    padding: 10px 21px;
  }

  .title-left {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 375px) {

  .btn-white,
  .btn-style {
    font-size: 16px;
  }

  .title-w3l,.title-w3l.two {
    font-size: 24px !important;
    line-height: 34px;
  }

  .title-subhny {
    font-size: 16px !important;
    letter-spacing: .5px;
  }
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}

.theme-switch input {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
}
/* End content1 */

/* Start w3l-agent-block */
.w3l-agent-block {
  background: var(--primary-color);
}

.agent-block-image {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}

.agent-block-image::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.w3l-agent-block p {
  color: #ffdfc9;
}

.subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.subscribe-cat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  grid-gap: 30px;
}

@media all and (max-width:992px) {
  .subscribe-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 20px 10px;
  }

  .subscribe-cat .subscribe-cat-link {
    font-size: 18px;
  }
  .agent-block-image {
    min-height: 200px;
  }
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: var(--bg-light);
  line-height: 70px;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}

.subscribe-cat-gd .icon {
  background: #fff;
}

.icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}


.subscribe-cat .subscribe-cat-link {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}

a, a:hover {
  text-decoration: none;
}

.subscribe-cat-gd:hover .icon span.fa {
  color: var(--secondary-color);
  transition: 0.3s ease-in-out;
}

.subscribe-cat .subscribe-cat-link:hover {
  opacity: 0.9;
}
/* End w3l-agent-block */

/* Start w3l-res-categories */
.w3l-res-categories {
  background: var(--bg-grey);
}

.ww3l-res-categories .gal-slide-grid {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 32px;
}

.w3l-res-categories .gal-slide-img {
  position: relative;
}

.w3l-res-categories .gal-slide-img:after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.w3l-res-categories .gal-slide-img img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.w3l-res-categories .gal-slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

.w3l-res-categories .gal-slide-info h4 {
  font-size: 18px;
  color: #fff;
}

.w3l-res-categories .gal-slide-grid .gal-slide-img:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -moz-border-radius: 6px;
}

.w3l-res-categories.gal-slide-grid .gal-slide-info {
  transform: translate3d(0, -5%, 0);
  transform: translate3d(0, -10%, 0);
}

.w3l-res-categories img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

.w3l-res-categories .gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
}

.w3l-res-categories .content-left-sec a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.w3l-res-categories .content-left-sec a:hover {
  text-decoration: none;
}

.w3l-res-categories .content-left-sec a:hover {
  color: #4f9da6;
}

.w3l-res-categories .content-left-sec h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}

.w3l-res-categories .gal-slide-info span {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}
@media all and (max-width:800px) {
  .w3l-res-categories .content-left-sec a h4 {
    font-size: 18px;
    line-height:28px;
  }
  .w3l-res-categories .gal-slide-info span {
      font-size: 16px;
  }
}
/* End w3l-res-categories */

/* Start move top */
.w3l-copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}
/* End move top */